{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %} {{ 'component-collection-hero.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'section-collection-banner-pickup.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.p_t_sp }}px;
    padding-bottom: {{ section.settings.p_b_sp }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.p_t_pc }}px;
      padding-bottom: {{ section.settings.p_b_pc }}px;
    }
  }
{%- endstyle -%}

<div class="collection__pickup section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="page-width">
      <div class="collection__pickup-wrapper">
        <div class="collection__pickup-content-inner">
          <div class="description">
            {{ section.settings.pickup_description }}
          </div>
          <div class="card-info">
            {%- if section.settings.selected_product != blank -%}
              {%- assign selected_product = all_products[section.settings.selected_product] -%}
              {%- if selected_product != blank -%}
                {% render 'collection-pickup-card-product',
                  card_product: selected_product,
                  show_vendor: section.settings.show_vendor,
                  section_id: section.id
                %}
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>
        {%- if section.settings.show_collection_image and section.settings.set_collection_image -%}
          <div class="collection__pickup-img collection-hero__image-container media gradient">
            <img
              srcset="
                {%- if section.settings.set_collection_image.width >= 165 -%}{{ section.settings.set_collection_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if section.settings.set_collection_image.width >= 360 -%}{{ section.settings.set_collection_image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if section.settings.set_collection_image.width >= 535 -%}{{ section.settings.set_collection_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if section.settings.set_collection_image.width >= 750 -%}{{ section.settings.set_collection_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if section.settings.set_collection_image.width >= 1070 -%}{{ section.settings.set_collection_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                {%- if section.settings.set_collection_image.width >= 1500 -%}{{ section.settings.set_collection_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ section.settings.set_collection_image | image_url }} {{ section.settings.set_collection_image.width }}w
              "
              src="{{ section.settings.set_collection_image | image_url: width: 750 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), 100vw"
              alt="{{ section.settings.set_collection_image.alt | escape }}"
              width="{{ section.settings.set_collection_image.width }}"
              height="{{ section.settings.set_collection_image.height }}"
              style="aspect-ratio: {{ section.settings.set_collection_image.width }} / {{ section.settings.set_collection_image.height }};"
            >
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "カスタムコレクションバナー",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label"
    },
    {
      "type": "image_picker",
      "id": "set_collection_image",
      "label": "PICK UPアイテム画像"
    },
    {
      "type": "richtext",
      "id": "pickup_description",
      "label": "商品説明",
      "default": "<p>季節の商品説明が入ります。</p>"
    },
    {
      "type": "product",
      "id": "selected_product",
      "label": "表示する商品"
    },
    {
      "type": "header",
      "content": "PC画面のセッティング"
    },
    {
      "type": "range",
      "id": "p_t_pc",
      "label": "セクション上の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "range",
      "id": "p_b_pc",
      "label": "セクション下の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "header",
      "content": "SP画面のセッティング"
    },
    {
      "type": "range",
      "id": "p_t_sp",
      "label": "セクション上の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "range",
      "id": "p_b_sp",
      "label": "セクション下の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    }
  ]
}
{% endschema %}
