{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer-subscription {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-subscription_img {
    background-position: top 40% center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: {{ section.settings.height_top }}px;
    padding-bottom: {{ section.settings.height_bottom }}px;
  }

  @media screen and (max-width: 480px) {
    .footer-subscription_img {
      padding-top: {{ section.settings.height_top_sp }}px;
      padding-bottom: {{ section.settings.height_bottom_sp }}px;
    }
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.p_t_sp }}px;
    padding-bottom: {{ section.settings.p_b_sp }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.p_t_pc }}px;
      padding-bottom: {{ section.settings.p_b_pc }}px;
    }
  }
{%- endstyle -%}

<div class="footer-subscription">
  {% if section.settings.head_img != blank %}
    <div class="footer-subscription_img" style="background-image: url({{ section.settings.head_img | img_url: 'master' }});">
      <div class="page-width">
        <div class="subscription_card">
          <div class="subscription_content">
            <div class="subscription_title">
              <h3>
                {{ section.settings.title }}
                <span class="subscription_subtitle">
                  {{ section.settings.sub_title }}
                </span>
              </h3>
            </div>
            <div class="subscription_link">
              <a href="{{ section.settings.link }}" class="subscription_button">
                {{ section.settings.btn_text }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>



{% schema %}
{
  "name": "フッターサブスクリプション",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "blocks": [
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "head_img",
      "label": "ヘッダーイメージ"
    },
    {
      "type": "header",
      "content": "画像高さ(PC)"
    },
    {
      "type": "range",
      "id": "height_top",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 150
    },
    {
      "type": "range",
      "id": "height_bottom",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 150
    },
    {
      "type": "header",
      "content": "画像高さスマホ版"
    },
    {
      "type": "range",
      "id": "height_top_sp",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "height_bottom_sp",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "月の井の頒布会",
      "label": "サブスクリプションタイトル"
    },
    {
      "type": "inline_richtext",
      "id": "sub_title",
      "default": "SUBSCRIPTION",
      "label": "サブスクリプション英語タイトル"
    },
    {
      "type": "url",
      "id": "link",
      "label": "リンク先"
    },
    {
      "type": "text",
      "id": "btn_text",
      "default": "お申し込み",
      "label": "ボタンテキスト"
    },
    {
      "type": "header",
      "content": "PC画面の余白セッティング"
    },
    {
      "type": "range",
      "id": "p_t_pc",
      "label": "セクション上の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "range",
      "id": "p_b_pc",
      "label": "セクション下の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "header",
      "content": "SP画面のセッティング"
    },
    {
      "type": "range",
      "id": "p_t_sp",
      "label": "セクション上の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "range",
      "id": "p_b_sp",
      "label": "セクション下の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    }
  ],
  "presets": [
    {
      "name": "フッターサブスクリプション"
    }
  ]
}
{% endschema %}
