{{ 'section-top-subscription.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .top__subscription {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .top__subscription_img {
    background-position: top 40% center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: {{ section.settings.height_top }}px;
    padding-bottom: {{ section.settings.height_bottom }}px;
  }

  @media screen and (max-width: 480px) {
    .top__subscription_img {
      padding-top: {{ section.settings.height_top_sp }}px;
      padding-bottom: {{ section.settings.height_bottom_sp }}px;
    }
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.p_t_sp }}px;
    padding-bottom: {{ section.settings.p_b_sp }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.p_t_pc }}px;
      padding-bottom: {{ section.settings.p_b_pc }}px;
    }
  }
{%- endstyle -%}

<div class="top__subscription">
  {% if section.settings.head_img != blank %}
    <div class="top__subscription_img" style="background-image: url({{ section.settings.head_img | img_url: 'master' }});">
      <div class="page-width">
        {%- if section.settings.title_display == true -%}
        <div class="top__subscription_card">
          <div class="top__subscription_content">
            <div class="top__subscription_title">
              {% if section.settings.description != blank %}
              <div class="top__subscription_description">
                {{ section.settings.description }}
              </div>
              {%- endif -%}
              <h3>
                {{ section.settings.title }}
                <span class="top__subscription_subtitle">
                  {{ section.settings.sub_title }}
                </span>
              </h3>
            </div>
            <div class="top__subscription_link">
              <a href="{{ section.settings.link }}" class="top__subscription_button">
                {{ section.settings.btn_text }}
              </a>
            </div>
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "TOPページ_サブスクリプション",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "title_display",
      "label": "カードの表示",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "head_img",
      "label": "ヘッダーイメージ"
    },
    {
      "type": "header",
      "content": "画像高さ(PC)",
      "info": "カード表示時の高さ：上下ともに40px カード非表示時の高さ：上下ともに150pxに設定"
    },
    {
      "type": "range",
      "id": "height_top",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 150
    },
    {
      "type": "range",
      "id": "height_bottom",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 150
    },
    {
      "type": "header",
      "content": "画像高さスマホ版",
      "info": "カード表示時の高さ：上100px 下50px カード非表示時の高さ：上100px 下50pxに設定"
    },
    {
      "type": "range",
      "id": "height_top_sp",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "height_bottom_sp",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>地元一貫造りの新ブランド<br>「彦市」をご自宅で</p>",
      "label": "リード文"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "月の井の頒布会",
      "label": "サブスクリプションタイトル"
    },
    {
      "type": "inline_richtext",
      "id": "sub_title",
      "default": "SUBSCRIPTION",
      "label": "サブスクリプション英語タイトル"
    },
    {
      "type": "url",
      "id": "link",
      "label": "リンク先"
    },
    {
      "type": "text",
      "id": "btn_text",
      "default": "お申し込み",
      "label": "ボタンテキスト"
    },
    {
      "type": "header",
      "content": "PC画面の余白セッティング"
    },
    {
      "type": "range",
      "id": "p_t_pc",
      "label": "セクション上の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "range",
      "id": "p_b_pc",
      "label": "セクション下の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "header",
      "content": "SP画面のセッティング"
    },
    {
      "type": "range",
      "id": "p_t_sp",
      "label": "セクション上の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    },
    {
      "type": "range",
      "id": "p_b_sp",
      "label": "セクション下の余白",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 4
    }
  ],
  "presets": [
    {
      "name": "TOPページ_サブスクリプション"
    }
  ]
}
{% endschema %}
